

@{
    ViewBag.Title = "Home";
    ViewBag.Header = "Home";
}

<br/>
<h4 style="color: orangered;">
   Welcome to Employer's Home screen
</h4>
<hr />

<h5 style="color: lightseagreen;">Salary paycheck calculator</h5>

<p>
    How much are your employees’ wages after taxes? This powerful tool does all the gross-to-net calculations to estimate take-home pay for all your employees.
</p>

<h5 style="color: lightseagreen;">
    How to calculate annual income
</h5>

<p>
    To calculate an annual salary, multiply the gross pay (before tax deductions) by the number of pay periods per year. For example, if an employee earns $2,000 per 2 weeks, the individual’s annual income would be 2,000 x 26 = $52,000.
</p>

<h5 style="color: lightseagreen;">
    What is a paycheck?
</h5>

<p>
    A paycheck is how businesses compensate employees for their work. The most common delivery schedules are bi-weekly and semi-monthly, though this varies based on employer preferences and applicable state laws and regulations. Business-specific requirements, such as collective bargaining agreements covering union employees, may also dictate paycheck frequency.
</p>



